body {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* All the Header CSS */



/* All the Services CSS */



/* All the Users CSS */



/* All the Footer CSS */